.title{
    margin: 11px 0;
}

.title:focus-visible{
    outline-color: #dadce0b8;
}

.title img{
    pointer-events: none;
}

.check{
    text-decoration: line-through;
}

.not-check{
    text-decoration: none;
}

.page-layout{
    text-align: center;
    min-height: 80vh;
}
