.about-page{
    min-height: 80vh;
}

.about-container{
    margin: auto;
    padding-inline: 10px;
    padding-block: 10px;
}

.about-container p{
    height: 270px;
    font-size: 1.125em;
    font-family: google-sans-med,sans-serif;
}

.about-container img{
    border-radius: 10px;
}

.about-layout{
    background-color: #e4e2e2;
    display: flex;
    justify-content: space-evenly;
    border-radius: 45px;
}



