    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        height: 10vh;
        margin: 0 auto;
        background-color: lightgrey;
        padding-inline-end: 60px;
        padding-inline-start: 60px;
    }
    
    header ul li {
        display: inline-block;
        margin: 0 25px;
    }
    
    header ul li:last-child {
        margin-right: 0;
    }
    
    header ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #2c3e50;
    }
    
    .btn-menu {
        display: none;
    }
    /* @media only screen and (max-width: 660px) {
    .menu {
        display: none;
    }
    .btn-menu {
        display: block;
    }
} */
    
    @media (max-width: 660px) {
        .menu {
            display: none;
        }
        .main-layout {
            max-width: 100vw;
        }
        header .menu {
            padding: 0 20px;
        }
        .btn-menu {
            display: block !important;
        }
    }
    
    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        height: 10vh;
        margin: 0 auto;
        background-color: lightgrey;
        padding-inline-end: 60px;
        padding-inline-start: 60px;
    }
    
    header ul li {
        display: inline-block;
        margin: 0 25px;
    }
    
    header ul li:last-child {
        margin-right: 0;
    }
    
    header ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #2c3e50;
    }