.compose-modal {
    position: absolute;
    bottom: 10%;
    right: 0;
    width: 521px;
}

#label-msg {
    background-color: #404040;
    padding: 10px;
    color: white
}

#compose-btn {
    background-color: #1A73E8;
}

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}