.btn:hover {
    border: none;
    border-left: unset;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #E8EAED;
}

.btn img {
    width: 20px;
    height: 20px;
}

img:hover {
    cursor: pointer;
}