.user-preview:hover {
    border: solid 1px;
    color: #D7DCDE;
}

.user-preview {
    height: 39px;
}

.margin-left {
    margin-left: 256px;
}

.mail-compose {
    max-width: 256px;
    padding-top: 20px;
}