.note-list{
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note-list-layout{
    gap: 10px;
    margin: 0 auto;
    display: inline-block;
}

.note-list-layout>*{
    display: inline-block;
}