@font-face {
    font-family: roboto;
    src: url(../../fonts/Roboto/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: open-sans;
    src: url(../../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: google-sans;
    src: url(../../fonts/Google-sans/ProductSans-Regular.ttf);
}
@font-face {
    font-family: google-sans-med;
    src: url(../../fonts/Google-sans/ProductSans-Medium.ttf);
}


.bold {
    font-weight: bold;
}

.open-sans {
    font-family: open-sans;
}

.open-sans-sarif {
    font-family: 'Open Sans', sans-serif;
}

.regular {
    font-weight: normal;
}

.italic {
    font-style: italic;
}

.ell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.break-word {
    word-wrap: break-word;
}

.no-wrap {
    white-space: nowrap;
}